.top-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}

.top-footer p {
    margin-bottom: 5px;
}

.top-footer a {
    text-decoration: none;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (min-width: 220px) and (max-width: 767px) {
    .top-footer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 220px) and (max-width: 480px) {
    .top-footer {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
}

@media only screen and (min-width: 220px) and (max-width: 667px) {
    .footer {
        flex-direction: column;
    }
}